body {
    font-family: sans-serif;
    background-color: green;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .con{
max-width: 800px;
margin: 0 auto;
color: #0c0c56;
font-family: Comic Sans MS;
padding-top: 77px;
padding-left: 15px;
padding-right: 15px;
}